@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <h2>Emmas bankapplikation</h2>
</div>

<div class="row">

    <div class="col-md-3">
        <h2>Overview</h2>
    </div>
    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>

    </div>
</div>
